h1 {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  #clockdiv {
    font-family: sans-serif;
    color: black;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }
  #clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
  }
  #clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
  }
  .smalltext {
    padding-top: 5px;
    font-size: 16px;
    text-decoration: underline;
  }
  a:hover,a:focus{
    text-decoration: none;
    outline: none;
   }
   
  